version: 1
process_count: 2

logger:
  level: INFO
  loggers:
    uvicorn:
      level: INFO
    uvicorn.access:
      level: INFO
    uvicorn.error:
      level: INFO

metrics:
  enabled: true
  port: 8003
  uvicorn_config:
    host: 0.0.0.0
    access_log: true
    server_header: false
    date_header: false
    workers: 1
input:
  httpinput:
      type: http_input
      message_backlog_size: 1500
      collect_meta: True
      metafield_name: "@metadata"
      uvicorn_config:
          host: 0.0.0.0
          port: 9000
          workers: 2
          access_log: true
          server_header: false
          date_header: false
      endpoints:
          /auth-json: json
          /json: json
          /lab/123/(ABC|DEF)/pl.*: plaintext
          /lab/123/ABC/auditlog: jsonl
output:
  kafka:
    type: confluentkafka_output
    topic: consumer
    error_topic: errors
    flush_timeout: 300
    send_timeout: 0
    kafka_config:
      bootstrap.servers: 127.0.0.1:9092
      compression.type: gzip
      statistics.interval.ms: "60000"
