version: 9
process_count: 1
timeout: 0.1
config_refresh_interval: 5
logger:
  level: DEBUG

pipeline:
  - labelername:
      type: labeler
      schema: quickstart/exampledata/rules/labeler/schema.json
      include_parent_labels: true
      specific_rules:
        - quickstart/exampledata/rules/labeler/specific
      generic_rules:
        - quickstart/exampledata/rules/labeler/generic

  - normalizer:
      type: normalizer
      specific_rules:
        - quickstart/exampledata/rules/normalizer/specific/
      generic_rules:
        - quickstart/exampledata/rules/normalizer/generic/
      regex_mapping: quickstart/exampledata/rules/normalizer/normalizer_regex_mapping.yml

  - dropper:
      type: dropper
      specific_rules:
        - quickstart/exampledata/rules/dropper/specific
      generic_rules:
        - quickstart/exampledata/rules/dropper/specific

  - pre_detector:
      type: pre_detector
      specific_rules:
        - quickstart/exampledata/rules/pre_detector/specific
      generic_rules:
        - quickstart/exampledata/rules/pre_detector/generic
      pre_detector_topic: sre
      tree_config: quickstart/exampledata/rules/pre_detector/tree_config.json
      alert_ip_list_path: quickstart/exampledata/rules/pre_detector/alert_ips.yml

  - pseudonymizer:
      type: pseudonymizer
      pubkey_analyst: quickstart/exampledata/rules/pseudonymizer/example_analyst_pub.pem
      pubkey_depseudo: quickstart/exampledata/rules/pseudonymizer/example_depseudo_pub.pem
      regex_mapping: quickstart/exampledata/rules/pseudonymizer/regex_mapping.yml
      hash_salt: a_secret_tasty_ingredient
      pseudonyms_topic: pseudonyms
      specific_rules:
        - quickstart/exampledata/rules/pseudonymizer/specific/
      generic_rules:
        - quickstart/exampledata/rules/pseudonymizer/generic/
      max_cached_pseudonyms: 1000000
      max_caching_days: 1

input:
  kafka:
    type: confluentkafka_input
    bootstrapservers:
      - 127.0.0.1:9092
    topic: consumer
    group: cgroup3
    auto_commit: true
    session_timeout: 6000
    offset_reset_policy: smallest
    ssl:
      cafile:
      certfile:
      keyfile:
      password:

output:
  kafka:
    type: confluentkafka_output
    bootstrapservers:
      - 127.0.0.1:9092
    topic: producer
    error_topic: producer_error
    ack_policy: all
    compression: none
    maximum_backlog: 10000
    linger_duration: 0
    flush_timeout: 30
    send_timeout: 2
    ssl:
      cafile:
      certfile:
      keyfile:
      password:
