__pycache__/
.cache/
.pytest_cache/
*.egg-info/
htmlcov/
doc/build/
doc/source/module_reference/
*.out
.coverage*
tests/testdata/external/
.profile/
*.prof
*.pyc
.venv
*.lock
coverage.xml
cov.xml
-
logs
build/
dist/
error_file
experiments
**/_static/*.xlsx
logprep.log
/charts/logprep/charts
examples/k8s/charts
*.so
target
wheelhouse
requirements.*
