arrow
attrs
certifi>=2022.12.07
colorama
confluent-kafka>2
elasticsearch>=7,<8
fastapi
geoip2
hyperscan>=0.4.0; sys_platform == 'linux' and platform_machine == 'x86_64'
jsonref
luqum
mysql-connector-python
numpy>=1.24.1
opensearch-py
prometheus_client
protobuf>=3.20.2
pycryptodome
pyparsing
python-dateutil
pytz
scikit-learn>=1.2.0
scipy>=1.9.2
joblib
pygrok
pyyaml
requests
ruamel.yaml
schedule
tldextract
urlextract
uvicorn
wheel
deepdiff
msgspec
boto3