arrow
attrs~=21.3 # because of semgrep in development
certifi>=2022.12.07
colorama
confluent-kafka<1.9.0
elasticsearch>=7,<8
fastapi
geoip2
hyperscan==0.2.0; sys_platform == 'linux' and platform_machine == 'x86_64'
jsonref
luqum
mysql-connector-python
numpy==1.22.1
opensearch-py
prometheus_client
protobuf>=3.20.2
pycryptodome
pygrok
pyparsing
python-dateutil
pytz
pyyaml
requests
ruamel.yaml
tldextract
urlextract
uvicorn
wheel
