global:
  security:
    allowInsecureImages: true
connector:
  image:
    tag: py3.11-latest
  replicas: 1
  resources:
    limits:
      memory: "2Gi"
      cpu: "1"
    requests:
      memory: "2Gi"
      cpu: "250m"
  secrets: {}
  logger:
    level: DEBUG
  input:
    type: http_input
    message_backlog_size: 15000
    collect_meta: True
    metafield_name: "@metadata"
    uvicorn_config:
      host: 0.0.0.0
      port: 9000
      workers: 2
      access_log: true
      server_header: false
      date_header: false
    endpoints:
      /auth-json: json
      /json: json
      /lab/123/(ABC|DEF)/pl.*: plaintext
      /lab/123/ABC/auditlog: jsonl
      /health: plaintext
  output:
    type: confluentkafka_output
    topic: consumer
    flush_timeout: 300
    send_timeout: 0
    kafka_config:
      bootstrap.servers: opensiem-kafka:9092
      compression.type: gzip
      statistics.interval.ms: "60000"
  ingress:
    enabled: true
## for additional configurations see: `https://github.com/bitnami/charts/blob/main/bitnami/kafka/values.yaml`
kafka:
  image:
    registry: docker.io
    repository: bitnamilegacy/kafka
    tag: 3.9
  listeners:
    client:
      protocol: PLAINTEXT
  controller:
    replicaCount: 3
  metrics:
    jmx:
      image:
        registry: docker.io
        repository: bitnamilegacy/jmx-exporter
        tag: 1.0.1-debian-12-r8
      enabled: true
  provisioning:
    enabled: true
    replicationFactor: 3
    numPartitions: 10
    topics:
      - name: consumer
      - name: producer
      - name: errors
logprep:
  image:
    tag: py3.11-latest
  input:
    type: confluentkafka_input
    topic: consumer
    kafka_config:
      bootstrap.servers: opensiem-kafka:9092
      group.id: cgroup3
      enable.auto.commit: "true"
      auto.commit.interval.ms: "10000"
      enable.auto.offset.store: "false"
      queued.min.messages: "100000"
      queued.max.messages.kbytes: "65536"
      statistics.interval.ms: "60000"
    preprocessing:
      version_info_target_field: Logprep_version_info
      log_arrival_time_target_field: event.ingested
      hmac:
        target: <RAW_MSG>
        key: "thisisasecureandrandomkey"
        output_field: Full_event
  output:
    type: opensearch_output
    hosts:
      - opensiem-opensearch:9200
    default_index: processed
    default_op_type: create
    message_backlog_size: 10000
    timeout: 10000
    flush_timeout: 60
    user: admin
    secret: admin
    desired_cluster_status:
      - green
      - yellow
  error_output:
    type: confluentkafka_output
    topic: errors
    flush_timeout: 300
    send_timeout: 0
    kafka_config:
      bootstrap.servers: opensiem-kafka:9092
      compression.type: none
      statistics.interval.ms: "60000"
      queue.buffering.max.messages: "10"
      queue.buffering.max.kbytes: "1024"
      queue.buffering.max.ms: "1000"
      batch.size: "100"
      request.required.acks: "-1"
## for additional configurations see: `https://github.com/bitnami/charts/blob/main/bitnami/opensearch/values.yaml`
opensearch:
  image:
    registry: docker.io
    repository: bitnamilegacy/opensearch
    tag: 3.2.0-debian-12-r0
  dashboards:
    enabled: true
    image:
      registry: docker.io
      repository: bitnamilegacy/opensearch-dashboards
      tag: 3.2.0-debian-12-r0
  ingest:
    replicaCount: 1
    resourcesPreset: "large" # "medium" lead to exit code 137 (OOM)
  master:
    replicaCount: 1
    resourcesPreset: "large" # "medium" lead to exit code 137 (OOM)
  data:
    replicaCount: 1
  coordinating:
    replicaCount: 1
  sysctlImage:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 12-debian-12-r51
