# pylint: disable=protected-access
# pylint: disable=missing-docstring
import pytest
from logprep.processor.base.exceptions import InvalidRuleDefinitionError
from logprep.processor.{{ processor.name }}.rule import {{ processor.class_name }}Rule


class Test{{ processor.class_name }}Rule:
    def test_create_from_dict_returns_{{ processor.name }}_rule(self):
        rule = {
            "filter": "message",
            "{{ processor.name }}": {"source_fields": ["message"], "target_field": "new_field"},
        }
        rule_dict = {{ processor.class_name }}Rule._create_from_dict(rule)
        assert isinstance(rule_dict, {{ processor.class_name }}Rule)

    @pytest.mark.parametrize(
        ["rule", "error", "message"],
        [
            # add your tests here
        ],
    )
    def test_create_from_dict_validates_config(self, rule, error, message):
        if error:
            with pytest.raises(error, match=message):
                {{ processor.class_name }}Rule._create_from_dict(rule)
        else:
            rule_instance = {{ processor.class_name }}Rule._create_from_dict(rule)
            assert hasattr(rule_instance, "_config")
            for key, value in rule.get("{{ processor.name }}").items():
                assert hasattr(rule_instance._config, key)
                assert value == getattr(rule_instance._config, key)

    @pytest.mark.parametrize(
        ["testcase", "rule1", "rule2", "equality"],
        [
            # add your tests here
        ],
    )
    def test_equality(self, testcase, rule1, rule2, equality):
        rule1 = {{ processor.class_name }}Rule._create_from_dict(rule1)
        rule2 = {{ processor.class_name }}Rule._create_from_dict(rule2)
        assert (rule1 == rule2) == equality, testcase

