version: "3.9"

# The following command must be executed after each restart on linux or elasticsearch exits with an error
# sudo sysctl -w vm.max_map_count=262144

services:
  opensearch:
    image: public.ecr.aws/opensearchproject/opensearch:2.6.0
    hostname: opensearch
    container_name: opensearch
    environment:
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch # Name the node that will run in this container
      - discovery.seed_hosts=opensearch # Nodes to look for when discovering the cluster
      - cluster.initial_cluster_manager_nodes=opensearch # Nodes eligibile to serve as cluster manager
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      - "DISABLE_INSTALL_DEMO_CONFIG=true" # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      - "DISABLE_SECURITY_PLUGIN=true" # Disables security plugin
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - data:/usr/share/opensearch/data
    ports:
      - 9200:9200
    networks:
      - opensearch-net

  dashboards:
    image: public.ecr.aws/opensearchproject/opensearch-dashboards:2.6.0
    container_name: dashboards
    ports:
      - 5601:5601
    environment:
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true" # disables security dashboards plugin in OpenSearch Dashboards
    networks:
      - opensearch-net
    depends_on:
      - opensearch

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - 9092:9092
    hostname: kafka
    networks:
      - opensearch-net
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@127.0.0.1:9093
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  logprep:
    build:
      context: ..
    image: logprep
    container_name: logprep
    networks:
      - opensearch-net
    profiles:
      - logprep
    depends_on:
      - kafka
    volumes:
      - ./exampledata/:/home/logprep/
    entrypoint:
      - logprep
      - /home/logprep/config/pipeline.yml

volumes:
  data:


networks:
  opensearch-net:
