name: Publish release to PyPi

on:
  release:
    types: [published]

jobs:
  build-wheel-and-tarball:
    runs-on: ubuntu-latest
    name: Build Logprep
    steps:
      - uses: actions/checkout@v4

      - name: Initialize Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.11"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse --archs x86_64

      - name: Build binary wheel and a source tarball
        run: pipx run build --sdist

      - name: copy artifacts to dist folder
        run: cp ./wheelhouse/* ./dist/

      - name: Upload Artifact for next job
        uses: actions/upload-artifact@master
        with:
          name: logprep-build
          path: dist

  publish-latest-release-to-pypi:
    runs-on: ubuntu-latest
    name: Publish release to PyPi
    environment:
      name: pypi
      url: https://pypi.org/p/logprep
    permissions:
      id-token: write
    needs: build-wheel-and-tarball
    steps:
      - name: Download artifact from previous job
        uses: actions/download-artifact@master
        with:
          name: logprep-build
          path: dist

      - name: Publish package distributions to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1

  containerbuild:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    runs-on: ubuntu-latest
    needs: publish-latest-release-to-pypi
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build images
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true # Will only build if this is not here
          build-args: |
            LOGPREP_VERSION=${{ github.ref_name }}
            PYTHON_VERSION=${{ matrix.python-version }}
          tags: |
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-${{ github.ref_name }}
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-stable
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-latest

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.7.0
        with:
          cosign-release: 'v2.4.1'

      - name: Sign image with a key
        run: |
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-${{ github.head_ref }}@${DIGEST}
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
