name: Publish release to PyPi

on:
  release:
    types: [published]

jobs:
  build-wheel-and-tarball:
    runs-on: ubuntu-latest
    name: Build Logprep
    steps:
      - uses: actions/checkout@v4

      - name: Initialize Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel

      - name: Build binary wheel and a source tarball
        run: pip wheel --no-deps --wheel-dir ./dist .

      - name: Upload Artifact for next job
        uses: actions/upload-artifact@master
        with:
          name: logprep-build
          path: dist

  publish-latest-release-to-pypi:
    runs-on: ubuntu-latest
    name: Publish release to PyPi
    environment:
      name: pypi
      url: https://pypi.org/p/logprep
    permissions:
      id-token: write
    needs: build-wheel-and-tarball
    steps:
      - name: Download artifact from previous job
        uses: actions/download-artifact@master
        with:
          name: logprep-build
          path: dist

      - name: Publish package distributions to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1

  containerbuild:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12.3"]

    runs-on: ubuntu-latest
    needs: publish-latest-release-to-pypi
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build images
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true # Will only build if this is not here
          build-args: |
            LOGPREP_VERSION=${{ github.ref_name }}
            PYTHON_VERSION=${{ matrix.python-version }}
          tags: |
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-${{ github.ref_name }}
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-stable
            ghcr.io/fkie-cad/logprep:py${{ matrix.python-version }}-latest

  helm-charts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: template Chart.yaml
        env:
          LOGPREP_VERSION: ${{ github.ref_name }}
        run: |
          sed "s/{{ LOGPREP_VERSION }}/$LOGPREP_VERSION/g" charts/logprep/Chart.yaml.j2 > ./charts/logprep/Chart.yaml

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update Logprep chart versions
          branch: main
          # Optional glob pattern of files which should be added to the commit
          # Defaults to all (.)
          # See the `pathspec`-documentation for git
          # - https://git-scm.com/docs/git-add#Documentation/git-add.txt-ltpathspecgt82308203
          # - https://git-scm.com/docs/gitglossary#Documentation/gitglossary.txt-aiddefpathspecapathspec
          file_pattern: "charts/logprep/Chart.yaml"

      - name: update release tag
        uses: rickstaa/action-create-tag@v1
        id: "tag_update"
        with:
          tag: ${{ github.ref_name }}
          force_push_tag: true

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
